<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<th:block th:fragment="saleslog">

<div id="saleslog">
    <div class="status">
        <h1>Sales Log</h1>
    </div>
    <div class="modal-info">
        <ul>
            <li>
                <div><h4>Shawarma</h4>
                    <span><small>By</small> Chinedu Kingsley</span></div>
                <div><span class="price"> $44,232</span><span class="time">07/02/2021</span></div>
            </li>
            <li>
                <div><h4>Shawarma</h4>
                    <span><small>By</small> Chinedu Kingsley</span></div>
                <div><span class="price"> $44,232</span><span class="time">07/02/2021</span></div>
            </li>
            <li>
                <div><h4>Shawarma</h4>
                    <span><small>By</small> Chinedu Kingsley</span></div>
                <div class="price"><span> $44,232</span><span class="time">07/02/2021</span></div>
            </li>
            <li>
                <div><h4>Shawarma</h4>
                    <span><small>By</small> Chinedu Kingsley</span></div>
                <div><span class="price"> $44,232</span><span class="time">07/02/2021</span></div>
            </li>
            <li>
                <div><h4>Shawarma</h4>
                    <span><small>By</small> Chinedu Kingsley</span></div>
                <div><span class="price"> $44,232</span><span class="time">07/02/2021</span></div>
            </li>
            <li>
                <div><h4>Shawarma</h4>
                    <span><small>By</small> Chinedu Kingsley</span></div>
                <div class="price"><span> $44,232</span><span class="time">07/02/2021</span></div>
            </li>
            <li>
                <div><h4>Shawarma</h4>
                    <span><small>By</small> Chinedu Kingsley</span></div>
                <div><span class="price"> $44,232</span><span class="time">07/02/2021</span></div>
            </li>
            <li>
                <div><h4>Shawarma</h4>
                    <span><small>By</small> Chinedu Kingsley</span></div>
                <div><span class="price"> $44,232</span><span class="time">07/02/2021</span></div>
            </li>
            <li>
                <div><h4>Shawarma</h4>
                    <span><small>By</small> Chinedu Kingsley</span></div>
                <div class="price"><span> $44,232</span><span class="time">07/02/2021</span></div>
            </li>
        </ul>
    </div>
</div> </th:block>
</html>