<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<th:block th:fragment="saleslog">

<div id="saleslog">
    <div class="status">
        <h1>Sales Log</h1>
    </div>
    <div class="modal-info">
        <ul th:each="sale, index : ${sales}">

            <li>
                <div><h4 th:text="${sale.purchases}">Shawarma</h4>
                    <span><small>By</small> <span th:text="${sale.customerName}">Chinedu Kingsley</span></span></div>
                <div class="price"><span th:text="'$' +${sale.amount}"> $44,232</span><span class="time" th:text="${sale.date}">07/02/2021</span></div>
            </li>
        </ul>
    </div>
</div> </th:block>
</html>