<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=0.5, initial-scale=1.0">
    <title> Robert Sales Record </title>
    <link rel="stylesheet" href="./styles/app.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Poppins:wght@400;500;600&display=swap"
          rel="stylesheet">
    <link rel="shortcut icon" href="images/supermarket.png">
    <script src="https://kit.fontawesome.com/98aee29468.js" crossorigin="anonymous"></script>
    <!-- <script src="./scripts/main.js"></script> -->

</head>
<body>

<header>
    <img src="./images/supermarket.png" height="40" alt="robert_supermarket.logo">
    <h3> Robert Supermarket </h3>
</header>

<div class="successful-save" th:style="${saved} ? 'display: block' : 'display: none'" id="successful-save">Record Saved
    Successfully
</div>
<main>
    <section class="glass">
        <div th:replace="frag/dashboard.html :: dashboard">
        </div>


        <div class="archives">
            <div th:replace="frag/addsales :: addsales"></div>

        </div>
    </section>

    <div>
        <ul class="card" id="cards">

        </ul>
    </div>

</main>

<div class="circle1"></div>
<div class="circle2"></div>

<footer id="footer"> &copy; Copyright CSC 2021 Copyright Robert Supermarket.</footer>
<script src="./scripts/app.js"></script>
</body>
</html>