<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Robert Sales Record </title>
    <link rel="stylesheet" href="./styles/app.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Poppins:wght@400;500;600&display=swap"
          rel="stylesheet">
    <script src="https://kit.fontawesome.com/98aee29468.js" crossorigin="anonymous"></script>
    <!-- <script src="./scripts/main.js"></script> -->

</head>
<body>

<header>
    <img src="./images/supermarket.png" height="40" alt="robert_supermarket.logo">
    <h3> Robert Supermarket </h3>
</header>

<div class="successful-save" id="successful-save" th:if="saved">Record Saved Successfully</div>
<main>
    <section class="glass">
        <div class="dashboard">
            <div class="user">
                <img src="./images/store_user.png" height="80" alt="user">
                <br>
                <h4> Eze Onyedikachi </h4>
                <p> Sales Personnel </p>
            </div>
            <div class="links">
                <div class="link">
                    <img src="./images/sales.png" height="50" alt="">
                    <h4> Sales Log </h4>
                </div>

                <br>
                <br>

                <div class="link">
                    <img src="./images/records.png" height="50" alt="">
                    <a href="./archive.html"><h4> Archives </h4></a>
                </div>
            </div>

            <div class="hint">
                <h4> Keep your daily records </h4>
                <img src="./images/hint.png" height="30" alt="">
            </div>
        </div>

        <div class="archives">
            <div class="status">
                <h1> Sales Information </h1>
            </div>

            <div class="modal-info">
                <div class="info">

                    <form th:action="${formAction}" th:object="${formObject}" method="post">

                        <div class="fname">
                            <i class="fas fa-user"></i></i><label for="customer_id"> Customer Name</label><br>
                            <input th:field="*{customerName}" type="text" placeholder=" Customer Name " id="customer_id" required>
                        </div>

                        <div class="products">
                            <i class="fas fa-shopping-basket"></i><label for="stocks"> Stock Purchased </label><br>
                            <input th:field="*{purchases}" type="text" placeholder=" Enter Products " id="stocks" required>
                        </div>

                        <div class="amount">
                            <i class="fas fa-money-check-alt"></i><label for="amount"> Total Amount (₦) </label><br>
                            <input th:field="*{amount}" type="text" placeholder=" Enter Amount " id="amount" required>
                        </div>

                        <div class="date">
                            <i class="fas fa-calendar-day"></i><label for="dateofsale"> Date Of Sale </label><br>
                            <input class="month" type="date" th:field="*{date}" required id="dateofsale" placeholder="DD/MM/YYYY">
                        </div>

                        <div class="payment">
                            <i class="far fa-credit-card"></i><label for="payment_method"> Payment Method </label><br>
                            <select required id="payment_method" th:field="*{paymentMethod}">
                                <option value="">-Select Payment Method-</option>
                                <option value="Cash">Cash</option>
                                <option value="Cheque">Cheque</option>
                                <option value="NetBanking">Net Banking</option>
                                <option value="POS">POS</option>
                            </select>
                        </div>

                        <button type="submit" id="save_button"> Save</button>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <div>
        <ul class="card" id="cards">

        </ul>
    </div>

</main>

<div class="circle1"></div>
<div class="circle2"></div>

<footer id="footer"> &copy; Copyright CSC 2021 Copyright Robert Supermarket.</footer>
<script src="./scripts/app.js"></script>
</body>
</html>